# vim:noet:ts=4:ft=gitconfig
[user]
	name = Anton Kiselev
	# git config --global user.email
	email = anton.kisel@gmail.com

[alias]
	co = checkout
	sw = switch
	st = status
	sta = stash
	br = branch
	ci = commit
	cia = commit -a
	fix = commit --amend
	wip = commit -m wip
	cp = cherry-pick
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	di = diff
	mt = mergetool
	me = merge
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort

	# rebase interactive since last merge commit
	rbim = !git rebase --interactive $(git log --merges --format=%H -1)
	dica = diff --cached
	gcfg = config --global
	rehard = reset --hard
	tip = log -1 --decorate
	meff = merge --ff-only
	mesq = merge --squash
	puo = push origin

	# create patch from commit in .git/patches
	mkpatch = !git format-patch -o ./.git/patches/ -1 $1

	# repository-local gitignore
	ignore-local = !vim ./.git/info/exclude


[gui]
	# disable git gui repository loose objects warning
	gcwarning = false

[core]
	longpaths = true
	# quotepath = false
	# autocrlf = true
	# safecrlf = true
	# sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	# excludesfile = ~/.gitignore
	# excludesfile = ~/.cfg/app/git/gitignore_common

#[filter "lfs"]
#	clean = git-lfs clean -- %f
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	process =
#	required = true

