[core]
	editor = 'vim'
	excludesfile = ~/.cfg/gitignore_global
	autocrlf = true
[alias]
	co = checkout
	dcommit = svn dcommit
	st = status
	st = status
	sta = stash
	br = branch
	ci = commit
	cia = commit -a
	fix = commit --amend
	cp = cherry-pick
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	svnhelp = !\"git svn help 2>&1|less\"
	di = diff
	mt = mergetool
	me = merge
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
	check = !"sh ~/.cfg/scripts/git-check.sh"
	dica = diff --cached
	gcfg = config --global
	rehard = reset --hard
	tip = log -1
	aa = add **.h **.vcproj **.cpp
[user]
	email = kiton@ledas.com
	name = Anton

[merge]
	tool = p4merge
